.gradle
.gradle-home/
.gradle-local/
.gradle-release/
.gradle-release2/
build
.idea/
.project
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/
.tmp-client/
.tmp-wh.txt
.tmp-worldhopper.txt
